ui.example.com {
	encode zstd gzip

	header {
		-Server
		X-Content-Type-Options nosniff
		X-Frame-Options SAMEORIGIN
		Referrer-Policy strict-origin-when-cross-origin
	}

	log {
		output file /var/log/caddy/test-access.log
		format json
	}

	handle /up {
		respond "OK" 200
	}

	reverse_proxy /api/* 127.0.0.1:8001
	reverse_proxy 127.0.0.1:8000
}

studio.example.com {
  reverse_proxy 127.0.0.1:54323
}

api.example.com {
  reverse_proxy 127.0.0.1:54321
}